body {
    margin: 0;
}
nav {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    padding: 0 20px;
}
nav>ul {
    /* to remove all margin and padding on ul */
    margin: 0 0 0 auto;
    padding: 0;
    
}
nav>ul>li {
    display: inline-block;
}
.nav-link {
    display: block;
    text-decoration: none;
    color: rgb(53, 53, 53);
    padding: 0 20px; 
}
.nav-link:hover {
    color: black;
    border-bottom: 3px solid red;
}
/* .btn {
    padding: 8px 24px;
    border-radius: 24px;
    background-color: gold;
    border: rgb(193, 164, 5) 2px solid;
    color: rgb(48, 47, 47);
    font-weight: 900;
} */
.btn {
    text-decoration: none;
    padding: 8px 24px;
    border-radius: 24px;
    background-color: gold;
    color: rgb(48, 48, 48);
    border: 2px solid rgb(205, 177, 20);
}
.bg-mini-link {
    background-color: rgb(249, 228, 111);
}
.bg-mini-link:hover {
    background-color: gold;
}

/* main */
main {
    display: flex;
    background-color: lightgoldenrodyellow;
    position: relative;
}
.square{
    height: 150px;
    width: 150px;
    background-color: rgba(64, 224, 208, 0.15);
    position: absolute;
    transform: rotate(45deg);
    left: 50%;
    top: 50px;
}
.picture {
    /* background-color: honeydew; */
    flex: 2;
}
.circle {
    width: 250px;
    height:250px;
    border-radius: 50%;
    /* background-color: lavender; */
    background-image: url('https://i.kym-cdn.com/entries/icons/facebook/000/018/385/Rs_634x1024-130605092844-634.DespMe2.mh.060513.jpg');
    background-size: cover;
    margin: 50px auto;
}

.info {
    /* background-color: gold; */
    flex : 3;

    display: flex;
    align-items: center;
    padding-right: 50px;
}


/* section-education */
.sect-edu-wrapper {
    display: flex;
}
.edu-info {
    /* background-color: bisque; */
    flex:1;
    padding:10px;
}
/* style the fontawesome */
.icon {
    font-size: 5rem;
    color: gold;
}
.skill-html-css {
    flex:1;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.progress-bar {
    width: 100px;
    height: 10px;
    border: 2px solid black;
    border-radius: 16px;
    overflow: hidden;

    display: flex;
}
.good {
    height: 100%;
    background-color: rgb(79, 126, 206);
}
.weak {
    height: 100%;
    background-color: rgba(187, 187, 187, 0.762);
}
.bg-red {
    background-color: red;
}
.bg-yellow {
    background-color: rgb(250, 225, 34);
}
.bg-green {
    background-color: green;
}

.flex-1 {
    flex: 1;
}
.flex-2 {
    flex: 2;
}
.flex-3 {
    flex: 3;
}
.flex-4 {
    flex: 4;
}
.flex-5 {
    flex: 5;
}
.flex-6 {
    flex: 6;
}
.flex-7 {
    flex: 7;
}
.flex-8 {
    flex: 8;
}
.flex-9 {
    flex: 9;
}
.flex-10 {
    flex: 10;
}

#sect-slogan {
    height: 300px;
    /* background-image: url('https://www.lego.com/cdn/cs/set/assets/bltf32a5653ceb0b6d9/minions_HeroBannerTallx1_5_tablet1.jpg.jpg?fit=crop&format=jpg&quality=80&width=900&height=350&dpr=1'); */
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSGVfnwVCtxe2N6psASgIP8P_v9guu43bIOAA&usqp=CAU');
    background-size: cover;
    background-attachment: fixed;

    font-size: 2.5rem;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 80px; 
}

#sect-hobby {
    /* height: 50vh; */
    background-color: honeydew;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-around;
    
    padding: 50px 10px;
}
.hobby-frame {
    min-height: 400px;
    max-width: 280px;
    background-color: wheat;

    margin-top: 10px;
}
.hobby-frame>img {
    width: 100%;
}
.hobby-info {
    padding: 10px;
}





#sect-slogan2 {
    height: 500px;
    background-image: url('https://i.pinimg.com/originals/1b/69/88/1b698809e0d3f70fb075370cacb4f783.jpg');
    background-size: cover;
    background-attachment: fixed;
}